{% extends "layout.html" %}
{% block content %}
    <section class="hero">
        <div class="container">
            <h1>
                What is Jidake?
            </h1>

            <p>
                Jidake is a software and game development studio.
                Right now it consists only of me, so you could say it is just me.
                My name is Yurii, I've made this website.
            </p>
            <p>
                And I don't know what career to choose... I could be a 3d artist, procedurial and usual animation maker, videographer,
                all kinds of programmer you could ever imagine, even a game designer. I kind of can do everything but struggle to find something
                that would be interesting, would pay well and would be meaningfull to me.
            </p>
            <p>
                I'm studing applied math and IT at a university in Saint Petersburg, Russia.
                Write me jidakekai@gmail.com
            </p>
        </div>
    </section>
{% endblock content %}